@font-face { font-family: Kreadon; src: url(fonts/Kreadon-Regular.ttf); } 

.avaliable_rides {
    text-align: center;
    font-family: Kreadon;
    color: var(--tg-theme-text-color);
}

body {
    background-color: var(--tg-theme-bg-color);
}